<md-toolbar class="md-tall md-primary" id="topBar" layout="row" layout-align="start start">
    <h2 class="md-toolbar-tools">
        <img class="logo" href="/admin" src="assets/img/FotoFly-Logo.png" alt="FotoFly Logo"/>
    </h2>
    <span flex></span>
    <md-button class="md-primary" ng-click="logout()" id="logoutBtn">Logout</md-button>
</md-toolbar>
<md-whiteframe class="md-whiteframe-z3 mainContent eventContent" layout="column" layout-align="center center">
	<div ng-if="!photos" layout="column" layout-align="center center">
		<br><br>
		<h1 class="eventHeader">Event Code: {{ event }}</h1>
		<br><br>
		<h2 class="errorh2">Hmm... There are no photos in this event yet...</h2>
		<h3>Get the party started and upload some photos!!!</h3>
		<br><br>
		<div layout="row">
			<md-button ui-sref="admin" class="md-raised md-primary" id="settings">Back to Admin</md-button>
			<md-button class="md-raised md-primary" ng-click="deleteEvent($event)" id="delete">Delete Event</md-button>
		</div>
	</div>
	<div ng-if="photos" layout="column" layout-align="center center">
		<h1 class="eventHeader">Event Code: {{ event }}</h1>
		<h3 class="numberHeader">Number of Photos: {{ numberOfPhotos }}</h3>
		<div layout="row">
			<div class="eventBtns" layout='column' layout-align='start start'>
				<md-button class="md-raised md-primary" id="settings" ui-sref="admin">Back to Admin</md-button>
				<md-button class="md-raised md-primary" ng-click="exportPhotos($event)" id="select">Export All</md-button>
				<md-button class="md-raised md-primary" ng-click="deletePhotos()" id="deselect">Delete Photos</md-button>
				<md-button class="md-raised md-primary" ng-click="deleteEvent($event)" id="delete">Delete Event</md-button>
			</div>	
			<div class="photoGrid" layout="row" layout-wrap layout-margin layout-align="start start">
				<div class='photoContainer' ng-repeat='photo in photos' flex-gt-lg="20" flex-lg="25" flex-md="33" flex-sm='95'>
					<md-checkbox class="checkboxes" ng-model="photo.selected" ng-click="imgSelect(photo.id)" aria-label="Checkbox 1"></md-checkbox>
					<a ng-click="openLightboxModal($index)">
						<img  class='photo' src="{{photo.attributes.thumbnailImage._url}}" class="img-thumbnail"></img>
					</a>
				</div>
			</div>
		</div>
	</div>
</md-whiteframe>

